name: Data Pipeline

on:
  schedule:
    - cron: '30 16 * * *'  # Runs at 16:30 UTC every day
  workflow_dispatch:

jobs:
  fetch_data:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend/IE-app
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.12'
      - name: Install Poetry and Dependencies
        run: |
          curl -sSL https://install.python-poetry.org | python3 -
          echo "$HOME/.local/bin" >> $GITHUB_PATH
          poetry config virtualenvs.create false
          poetry install
      - name: Install DVC with S3 support
        run: pip install 'dvc[s3]'
      - name: Fetch Data
        run: poetry run python scripts/fetch_data.py
      - name: Git and DVC Operations
        run: |
          dvc add data
          git add .
          git commit -m "Update fetched data" || echo "No changes to commit"
          git push
          dvc push

  preprocess_data:
    needs: fetch_data
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend/IE-app
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.12'
      - name: Install Dependencies
        run: poetry install
      - name: Preprocess Data
        run: poetry run python scripts/preprocess_data.py
      - name: Git and DVC Operations
        run: |
          dvc add data
          git add .
          git commit -m "Update preprocessed data" || echo "No changes to commit"
          git push
          dvc push

  merge_data:
    needs: preprocess_data
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend/IE-app
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.12'
      - name: Install Dependencies
        run: poetry install
      - name: Merge Data
        run: poetry run python scripts/merge_data.py

  validate_data:
    needs: merge_data
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend/IE-app
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.12'
      - name: Install Dependencies
        run: poetry install
      - name: Validate Data
        run: poetry run python scripts/validate_data.py

  split_data:
    needs: validate_data
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend/IE-app
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.12'
      - name: Install Dependencies
        run: poetry install
      - name: Split Data
        run: poetry run python scripts/split_data.py
      - name: Git and DVC Operations
        run: |
          dvc add data
          git add .
          git commit -m "Update split data" || echo "No changes to commit"
          git push
          dvc push
